/* Main */
.tituloContent{
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}
.content {
    font-size: 20px;
    margin-bottom: 100px; /* Añadimos margen inferior para asegurarnos de que el footer no se solape */
    padding-top: 50px;
    position: relative;
    width: 100%;
    min-height: 65vh; /* Cambiado a min-height para permitir que el contenido se expanda */
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "area1 area2"
        "area3 area3"
        "area4 area4";
}
.datosPersonales{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    grid-area: area1;
    height: 100%;
    width: 100%;

}
.opciones{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    grid-area: area2;
    height: 100%;
    width: 100%;
    
}
.explicacion{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    grid-area: area3;
    height: 100%;
    width: 100%;
    
}
.botones{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    grid-area: area4;
    height: 100%;
    width: 100%;
}
/* Vista de escritorio */
@media screen and (min-width: 992px) {
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

}