/* Main */
    .tituloContent{
        padding-top: 50px;
        text-align: center;
        font-weight: bolder;
        font-size: 3em;
    }

/* Creamos reglas de orden para todo el contenido de la página */
    .content {
        font-size: 20px;
        margin-bottom: 100px; /* Añadimos margen inferior para asegurarnos de que el footer no se solape */
        padding-top: 50px;
        position: relative;
        width: 100%;
        min-height: 65vh; /* Cambiado a min-height para permitir que el contenido se expanda */
        display: grid;
        place-items: center;
        gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "area1 area2"
            "area3 area3"
            "area4 area4";
    }

/* Ubicamos nuestros elementos dentre del grid */
    .datosPersonales{
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        align-self: center;
        grid-area: area1;
        height: 100%;
        width: 100%;

    }


    .opciones{
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        align-self: center;
        grid-area: area2;
        height: 100%;
        width: 100%;
        
    }


    .explicacion{
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        align-self: center;
        grid-area: area3;
        height: 100%;
        width: 100%;
        
    }


    .botones{
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        align-self: center;
        grid-area: area4;
        height: 100%;
        width: 100%;
    }

/* Ampliacion del espacio que ocupan los fieldset y añadir su estilo */
    fieldset{
        border-radius: 10px;
        border-width: 10px;
        border-style: solid;
        border-color: rgb(73, 60, 255);
        height: 100%;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

/* Añadimos un estilo personalizado a nuestro select */
    select {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0!important;
        background: rgb(73, 60, 255);
        background-image: none;
        padding: 0 .5em;
        color:palegreen;
        cursor:pointer;
        font-size: 80%;
        margin-top: 10px;
    }
    select::-ms-expand {
        display: none;
    }
    .estiloSelect {
        position: relative;
        line-height: 2;
        background: rgb(73, 60, 255);
        overflow: hidden;
        border-radius: 10px;
    }
    .estiloSelect::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: rgb(53, 39, 255);
        cursor:pointer;
        pointer-events:none;
        transition:.50s all ease;
    }
    .estiloSelect:hover::after {
        color: palegreen;
    }


/* Ajustamos el texto del contenido del select*/
    .ordenSelect {
        display: grid;
        place-items: center; /* Centrar contenido vertical y horizontalmente */
        height: 100%;
    }

/* Añadimos estilo a nuestro textarea */
    textarea{
        background-color: rgb(90, 195, 255);
        color: rgb(89, 0, 255);
        border-radius: 10px;
        border: none;
        /* hacemos que el textarea sea responsive */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        resize: vertical;
    }

/* Modificamos el estilo de los input type text */
    .inputTexto{
        border: none;
        border-radius: 7px;
    }

/* Modificamos los botones de enviar y reset */
    .botonForm{
        border: none;
        background-color: palegreen;
        border-radius: 10px;
        color: rgb(89, 0, 255);
        padding: 10px 15px;
        margin: 15px;
    }

/* Vista de escritorio */
    @media screen and (min-width: 992px) {
        /* Agregar reglas de grid para la vista de escritorio */
            .content-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            .content .responsive {
                width: 100%; /* Asegurar el ancho completo */
            }

    }
/* Vista para tablet y móvil */
    @media screen and (max-width: 991px) {
        /* Agregar reglas de flex para la vista móvil */
            .content, .ordenSelect {
                display: flex;
                flex-direction: column; /* Apilar elementos verticalmente */
                align-items: center; /* Centrar horizontalmente */
                text-align: center;
            }
            .content .responsive {
                width: 100%; /* Asegurar el ancho completo */
            }
    }