/* Main */
.content {
    margin-bottom: 100px; /* Añadimos margen inferior para asegurarnos de que el footer no se solape */
    padding-top: 50px;
    position: relative;
}
/* Vista de escritorio */
@media screen and (min-width: 992px) {
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .ubicacion-aside {
        grid-column: 1; /* Colocar el aside a la izquierda */
        grid-row: 1; /* Colocar el aside en la primera fila */
        padding-top: 125px;
        font-weight: bolder;
        font-size: large;
        text-align: left;
    }
    .content {
        grid-column: 2; /* Colocar el contenido a la derecha */
    }
}