/* Importación de la fuente DosisRegular */
@font-face {
    font-family: DosisRegular; /* Define el nombre de la fuente */
    src: url(../fonts/Dosis-Regular.ttf); /* Ruta de la fuente personalizada */
}

/* Estilos globales */
*, *::before, *::after {
    box-sizing: border-box; /* Utilizamos border-box para controlar los tamaños de los elementos y evitar problemas, ya que el navegador agrega el padding y el borde al tamaño total del elemento.
    De este modo, indicamos al navegador que el tamaño de los elementos ya incluye padding y borde, en lugar de agregarlos después */
}

/* Estilos para el encabezado. Nota: el estilo del header es el fondo de la propia navbar, empezando con una imagen, texto e imágenes que están dentro del header y navbar */
/* Navbar. Nota: toda la navbar está hecha en vista de móvil primero, la vista de escritorio se aplica cambiando lo que se necesita en el @media screen  */
header {
    background-color: palegreen; /* Color de fondo del encabezado */
    text-align: center; /* Alineación del texto al centro */
    position: fixed; /* Fija el encabezado en la parte superior */
    width: 100%; /* Ancho completo del encabezado */
    z-index: 999; /* Asegurarnos de que la navbar está superpuesta sobre otros elementos */
}

/* Alineación del logo y del "Botón" de menú */
.logo {
    display: inline-block; /* Mostrar como bloque en línea */
    vertical-align: middle; /* Alineación vertical */
    margin: 0; /* Sin márgenes */
    padding-top: 3px; /* Espaciado superior */
}

.nav-toggle-label {
    display: inline-block; /* Mostrar como bloque en línea */
    vertical-align: middle; /* Alineación vertical */
    margin-left: 1em; /* Margen a la izquierda */
}

/* Estilos para la navegación */
nav {
    position: absolute; /* Posición absoluta */
    text-align: left; /* Alineación del texto a la izquierda */
    top: 100%; /* Desde la parte inferior del header */
    left: 0; /* Alineación a la izquierda */
    background-color: palegreen; /* Color de fondo */
    width: 100%; /* Ancho completo */
    display: flex; /* Usar flexbox */
    flex-direction: row; /* Dirección de los elementos */
    /* Animación sin desplegar */
    transform: scale(1, 0); /* Inicialmente oculto */
    transform-origin: top; /* Punto de origen de la transformación */
    transition: transform 400ms ease-in-out; /* Transición suave */
}

/* Estilos para la lista de navegación */
nav ul {
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno */
    list-style: none; /* Sin viñetas en la lista */
}

nav li {
    margin-bottom: 1em; /* Espaciado inferior */
    margin-left: 1em; /* Margen a la izquierda */
}

nav a {
    color: black; /* Color del texto */
    text-decoration: none; /* Sin decoración de enlace */
    font-size: 1.2em; /* Tamaño de la fuente */
    text-transform: none; /* Transformación del texto */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 150ms ease-in-out ease; /* Transición suave */
}

nav a:hover {
    color: blue; /* Color del texto al pasar el ratón */
}

/* Cambiar la visualización al presionar el botón */
.nav-toggle:checked ~ nav {
    transform: scale(1, 1); /* Animación desplegada */
}

/* Ocultar el botón (checkbox, no la imagen) de menú */
.nav-toggle {
    display: none; /* No mostrar */
}

/* Ocultar elementos (la imagen) del lado derecho */
.nav-item-right {
    display: none; /* No mostrar */
}

/* Estilos para el botón (imagen) del botón de menú (nos interesa que esté a la izquierda del todo) */
.nav-toggle-label {
    position: absolute; /* Posición absoluta */
    top: 0; /* Desde la parte superior de la página (si no, se pone debajo de la navbar) */
    left: 0; /* Desde la izquierda de la página (si no, se pone debajo de la navbar) */
    margin-left: 1em; /* Margen a la izquierda */
    height: 100%; /* Altura completa (para que se centre la imagen verticalmente) */
    display: flex; /* Usar flexbox */
    align-items: center; /* Alinear verticalmente el item */
}

/* Mostrar texto después de la animación */
.nav-toggle:checked ~ nav a {
    opacity: 1; /* Mostrar el texto */
    transition: opacity 250ms ease-in-out 250ms; /* Retraso de la animación */
}

/* Estilos específicos para escritorio (pantallas superiores a 600px de ancho) */
@media screen and (min-width: 600px) {
    /* Ocultar el botón de menú en pantallas grandes */
    .nav-toggle-label {
        display: none; /* No mostrar en escritorio (la imagen del desplegable) */
    }

    /* Estilos para el encabezado en pantallas grandes */
    header {
        display: grid; /* Utiliza grid */
        grid-template-rows: auto; /* Filas automáticas (solo usamos una) */
        grid-template-columns: auto 1fr auto; /* Tres columnas: logo, texto, nav item right (nos interesa que la central sea la más grande) */
        align-items: center; /* Alinea verticalmente los elementos */
        justify-content: space-between; /* Espacio entre los elementos */
        padding: 0 20px; /* Añade un poco de espacio alrededor de los elementos */
        grid-template-areas:
            "logo texto imagen"; /* Definición de áreas de la cuadrícula */
    }

    /* Estilos para el logo en pantallas grandes */
    /*En la práctica este estilo es prescindible (que no repetitivo ya que no se establece previamente),
     pero lo mantenemos para asegurarnos de que el logo no se mueve del sitio establecido en el grid*/
    .logo {
        grid-area: logo; /* Ubicación en el grid */
        justify-self: start; /* Alineación hacia la izquierda */
        margin: 0; /* Sin márgenes */
    }

    /* Estilos para la lista de navegación en pantallas grandes */
    ul.nav-menu-items {
        grid-area: texto; /* Ubicación en el grid */
        display: grid; /* Usa grid (utilizamos un grid para el texto, que está dentro del grid del header) */
        gap: 20px; /* Espacio entre elementos */
        /*Elementos prescindibles:
        padding: 0; /* Sin relleno *
        list-style: none; /* Sin viñetas en la lista, ya está en el estilo del ul */
    }

    /* Estilos para la navbar en pantallas grandes */
    nav {
        all: unset; /* Restablece todos los estilos */
        justify-self: center; /* Centra los elementos al centro de su columna */
        text-align: center; /* Alinea al centro */
        margin: 0; /* Sin márgenes */
        visibility: visible; /* Hace visible */
    }

    /* Estilos para la lista dentro de la navbar en pantallas grandes */
    nav ul {
        grid-auto-flow: column; /* Ajusta automáticamente el grid para que las columnas se vean en una misma fila */
        /*Elementos prescindibles:
        gap: 20px; /* Espacio entre elementos *
        align-items: center; /* Alinea verticalmente *
        padding: 0; /* Sin relleno */
    }

    /* Estilos para los elementos de la lista de la navbar en pantallas grandes */
    nav li {
        margin: 0; /* Sin márgenes */
    }

    /* Estilos para los enlaces de la lista de la navbar en pantallas grandes */
    nav a {
        opacity: 1; /* Opacidad al 100% */
        transition: .5s; /* Duración de la transición */
        color: black; /* Color del texto */
    }

    nav a:hover {
        color: blue; /* Color del texto al pasar el ratón */
        transition: .5s; /* Duración de la transición */
    }

    /* Estilos para el elemento de la derecha en pantallas grandes */
    .nav-item-right {
        all: unset; /* Restablece todos los estilos */
        grid-area: imagen; /* Ubicación en el grid */
        margin: 0; /* Sin márgenes */
        visibility: visible; /* Hace visible (estaba oculto en móvil) */
        justify-self: end; /* Alinea a la derecha (por si acaso) */
    }
}

/* Estilos para el cuerpo del documento */
body {
    margin: 0; /* Sin márgenes */
    font-family: DosisRegular; /* Tipo de fuente */
    background: linear-gradient(146deg, rgba(108,91,249,1) 0%, rgba(87,227,255,1) 100%); /* Fondo con gradiente lineal */
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
}

/* Estilos globales para la sección principal (main) */
main {
    max-width: 90%; /* Ancho máximo para el contenido principal */
    margin: 0 auto; /* Centrar el contenido principal */
    padding: 20px; /* Espaciado interno para el contenido principal */
}

/* Estilos para el divisor */
.divisor {
    aspect-ratio: 900/250; /* Relación de aspecto */
    width: 100%; /* Ancho completo */
    background-repeat: no-repeat; /* No repetir el fondo */
    background-position: center; /* Posición del fondo */
    background-size: cover; /* Ajusta el tamaño del fondo */
}

/* Estilos para el fondo del divisor */
.divisor-bg {
    background-image: url("../imagenes/wave.svg"); /* Imagen de fondo */
    width: 100%; /* Ancho completo */
}

/* Estilos para el pie de página (footer) */
.footer {
    width: 100%; /* Ancho completo */
    background-image: linear-gradient(#98fb98,rgb(42, 138, 125)); /* Fondo con gradiente lineal */
    background-size: cover; /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
    min-height: 300px; /* Altura mínima */
    display: grid; /* Usa grid */
    grid-template-columns: auto auto auto; /* Tres columnas */
    grid-template-rows: auto auto auto; /* Tres filas */
    grid-template-areas: /* Definición de áreas */
        "textoFooter textoFooter textoFooter"
        "contactoUrl placeholder acercadeUrl"
        "derechos derechos derechos";
    gap: 0px; /* Espacio entre elementos */
    padding-left: 2em; /* Relleno izquierdo */
    padding-right: 2em; /* Relleno derecho */
}

/* Estilos para el texto del pie de página */
.textoFooter {
    text-align: center; /* Alinea al centro */
    font-size: 3em; /* Tamaño de fuente */
    font-weight: bolder; /* Peso de fuente */
    align-self: center; /* Alineación vertical */
    grid-area: textoFooter; /* Área del grid */
}

/* Estilos para los enlaces de contacto y acerca de */
.contactoUrl,
.acercadeUrl {
    text-align: right; /* Alinea a la derecha (izquierda de las imagenes) */
    font-size: 1.5em; /* Tamaño de fuente */
    align-self: center; /* Alineación vertical */
}

/* Estilos para los enlaces de contacto */
.contactoUrl {
    grid-area: contactoUrl; /* Área del grid */
}

/* Estilos para los enlaces de acerca de */
.acercadeUrl {
    grid-area: acercadeUrl; /* Área del grid */
}

/* Estilos para los enlaces dentro de contacto y acerca de */
.contactoUrl a,
.acercadeUrl a {
    display: grid; /* Usa grid */
    text-decoration: none; /* Sin decoración de texto */
    color: darkgreen; /* Color del texto */
    transition: .5s; /* Duración de la transición */
    grid-template-columns: auto auto; /* Columnas para texto e imagen */
    align-items: center; /* Alinea verticalmente */
}

/* Estilos para los enlaces de contacto y acerca de al pasar el ratón */
.contactoUrl a:hover,
.acercadeUrl a:hover {
    color: blue; /* Cambia el color al pasar el ratón */
    transition: .5s; /* Duración de la transición */
}

/* Estilos para las imágenes dentro de contacto y acerca de */
.contactoUrl img,
.acercadeUrl img {
    margin-left: 0.5em; /* Espacio entre texto e imagen */
}

/* Estilos para los derechos de autor */
.derechos {
    text-align: center; /* Alinea al centro */
    font-size: 1em; /* Tamaño de fuente */
    align-self: center; /* Alineación vertical */
    grid-area: derechos; /* Área del grid */
}

/* Media query para pantallas de móvil */
@media (max-width: 600px) {
    .footer {
        display: flex; /* Usa flexbox */
        flex-direction: column; /* Dirección de columna (todos los elementos de arriba a abajo) */
        align-items: center; /* Alinea los items de flexbox al centro (en teoría es prescindible al haber solo un flex */
        padding: 20px; /* Espaciado interno */
    }

    /* Estilos para elementos del pie de página en pantallas de móvil */
    .textoFooter,
    .contactoUrl,
    .acercadeUrl,
    .derechos {
        margin-bottom: 10px; /* Margen inferior */
        /*text-align: center; /* Alinea al centro */
    }

    /* Estilos para contacto y acerca de en pantallas de móvil */
    .contactoUrl,
    .acercadeUrl {
        display: flex; /* Usa flexbox */
        /*Estilos prescindibles: 
        text-align: center; /* Alinea al centro *
        align-items: center; /* Alinea verticalmente */
    }

    /* Estilos para enlaces de contacto y acerca de en pantallas de móvil */
    .contactoUrl a,
    .acercadeUrl a {
        display: flex; /* Usa flexbox */
        /*Estilos prescindibles (ya usados en la vista de escritorio):
        text-decoration: none; /* Sin decoración de texto *
        color: darkgreen; /* Color del texto *
        transition: .5s; /* Duración de la transición *
        align-items: center; /* Alinea verticalmente *
        justify-content: center; /* Centra horizontalmente */
    }

    /* Prescindible: Agregar espacios entre texto e imagen en pantallas de móvil *
    .contactoUrl img,
    .acercadeUrl img {
        margin-left: 0.5em; /* Espacio entre texto e imagen *
        margin-top: 0; /* Restablece el margen superior 
    }*/
    
}